*{
    margin: 0px;
    padding: 0px;
}

/* Hero Section */

#hero-button{
    outline: 0px;
}

.smallHeroTitle{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
}

.largeHeroTitle{
    display: inline;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.largeHeroTitle2{
    display: inline;
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
    color: #d5ff40;
}

.heroText{
    font-family: 'Epilogue', sans-serif;
    font-weight: 600;
}

/* About Section */

.aboutHeading{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

/* My Skills */
.skillsHeading{
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

.skillsPara{

}